################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ParallelAndDistributedComputation/v15
/ParallelAndDistributedComputation/x64/Debug
/x64/Debug
